
* {
	font-family: Helvetica;
}

html {
	background-image: url("./images/bg2.jpg");
	background-repeat: no-repeat;
	image-rendering: -webkit-optimize-contrast;
	background-size: 100%;
}

main {
	color: white;
	text-align: center;
	font-size: 2rem;
}

footer {
	background-color: black;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

nav {
	background-color: black;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.align-right {
    text-align: right;
    float: right;
}

.align-left {
    text-align: left;
}

ul {
	display: inline-block;
}

nav li {
    display:inline;
    color: white;
}

ul a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

.container {
	display: block;
	padding: 10px;
}

ol a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}