
* {
	font-family: Helvetica;
}

html {
	background: url("./images/bg2.jpg") no-repeat center center fixed;
	image-rendering: -webkit-optimize-contrast;
	background-size: cover;
	height: 100%;
	width: 100%;
	font-size: 1rem;
}

body {
	margin: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

p, ul {
	font-size: 1.2rem;
}

h2, p {
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
	font-weight: normal;
}

button {
	border: none;
	color: black;
	background-color: transparent;
}

.content {
	flex-basis: 60em;
	padding: 1em 1em 0.5em 1em;
	background-color: floralwhite;
}

.text-button {
	font-size: 1.25rem;
}

.text-button:hover {
	cursor: pointer;
}

.box {
	/*background-color: blue;*/
	/*grid-area: 1 / 2 / 3 / 2;
	border: solid 2px black;*/
	height: 200px;
	width: 200px;
	border-radius: 25%;
	text-align: center;
	margin: 4px;
}

.project-section {
	margin: 1em 0em 0em 0em;	
}

.skills-section {
	margin: 1em 0em 0em 0em;
}

/***** Header section styles *****/

header h1, nav {
	display: inline;
}

nav {
	float: right;
}

.nav-button {
	font-size: 20px;
	margin: 0.3em;
}

.nav-button:hover {
	cursor: pointer;
}

/***** Home page styles *****/

.about-section {
	/*display: grid;
	grid-template: 2em 3fr / 3fr 1fr;
	/*grid-row-gap: 1em;*/
	grid-gap: 1em 0.5em;
	margin: 2em 0em 0em 0em;
}

/*
.about-section h2 {
	margin: 0em 0em 0.5em 0em;
}*/

.right {
	float: right;
}

.about-p {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.skill-list i {
	margin: 0.2em 0.3em;
}

.contact-section a {
	font-weight: bold;
}

/***** Projects page styles *****/

.spacer {
	height: 0.1rem;
	background-color: black;
	margin: 0.5em 1em;
}

.project {
	display: grid;
	grid-template: 3rem 3fr / 1fr 2fr;
	grid-row-gap: 1em;
}

.project a {
	align-self: center;
	display: grid;
	grid-template: 1fr / 1fr;
}

.project-list h2 {
	grid-area: 1 / 1 / 2 / 3;
}

.project-date {
	float: right;
}

.project-description {
	grid-area: 2 / 2 / 3 / 3;
	margin: 0 0 0 0.5em;
}

.project-display {
	height: 300px;
	width: 300px;
	border-radius: 1px;
	/*grid-area: 2 / 1 / 2 / 2;*/
	grid-area: 1 / 1 / 2 / 2;
}

.technologies {
	color: green;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgb(30, 180, 70);
	opacity: 0;
	grid-area: 1 / 1 / 2 / 2;
	z-index: 2;
	transition: 1.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div.overlay:hover {
	opacity: 1;

	height: 100%;
	width: 100%;
}

/***** Skills page styles *****/

.skills-grid {
	display: grid;
	grid-template: 1fr 3fr / 1fr 1fr;
	margin: 1em 0 0 0;
	/*font-size: 1.5em;*/
	position: relative;
	left: auto;
}

.skills-grid h3 {
	display: inline;
	text-decoration: underline;
	/*font-size: 1em;*/
}

.os-list {
	grid-area: 1 / 1 / 2 / 2;
}

.language-list {
	grid-area: 1 / 2 / 3 / 3;
}

.tools-list {
	grid-area: 2 / 1 / 3 / 2;
}

.skill-bar {
	width: 12em;
	height: 1.5em;
	background-color: lightgrey;
	display: inline-block;
}

.percent-bar {
	height: 100%;
	background-color: blue;
}


/* Media Queries Below This Line */


/******* Begin Media Query: Screen width <= 530 px *******/
@media only screen and (max-width: 530px) {
	h1 {
		font-size: 1.1rem;
	}

	h2 {
		font-size: 1rem;
		margin: 0em 0em 0.5em 0em;
	}

	p, ul {
		font-size: 0.8rem;
	}

	.content {
		height: fit-content;
		align-self: center;
	}

	/***** Header section styles *****/

	.nav-button {
		font-size: 14px;
		margin: 0px 1px;
		padding: 0px 3px;
	}

	.text-button {
		font-size: 14px;
	}

	/***** Home page styles *****/

	.about-section {
		margin: 1em 0em 0em 0em;
	}

	.skill-list {
		font-size: 11px;
	}

	.box {
		height: 100px;
		width: 100px;
		margin: 4px;
	}

	.project-section ul {
		margin: 0em 0em 0em -1em;
	}

	i {
		width: 10px;
	}

	/***** Projects page styles *****/
	.project-display {
		height: 150px;
		width: 150px;
		border-radius: 1px;
	}

	.project {
		grid-template: 1.5rem 3fr / 1fr 2fr;
		grid-row-gap: 0.25em;
	}

	.project p {
		font-size: 0.5rem;
	}

	.project-date {
		position: relative;
		top: 50%;
	}

	/***** Skills page styles *****/

	.skills-grid h3 {
		font-size: 14px;
	}

	.skills-grid ul {
		margin: 0.5em 0em 0em -1.5em;
	}

	.language-list {
		grid-area: 1 / 2 / 3 / 3;
		margin-left: 0.25em;
	}

	.skill-bar {
		width: 8em;
		height: 1em;
	}
}
/******* End Media Query: Screen width <= 530 px *******/